@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html{
    font-family: 'Merriweather', serif;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 1.69px;
    overflow-x: hidden;
}


html ul{
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

body{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 96vh;
    background-color: transparent;
    overflow-x: hidden;
}
header{
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
}

nav{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 12vh;
    box-sizing: border-box;
    opacity: .96;
    background-color: white;
    z-index: 2;
}
nav img{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 48px;
    margin-top: 3vh;
}
nav ul{
    display: flex;
    position: absolute;
    right: 0px;
    width: 69%;
    margin-top: 4vh;
    letter-spacing: 1.69px;
    flex-flow: row;
    justify-content: space-evenly;
    transition: all .69s ease-in;
    align-items: center;
    background-color: transparent;
}
section.mainmom{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 100px;
    left: 0px;
    top: 10vh;
    background-color: transparent;
    width: 100%;
    height: auto;
    z-index: 1;
}
section.child:first-child{
    background-color: #a2a9ad;
}
.childdivimg{
    transition: all .69s ease-in-out !important;
}
.childdivimgright{
    transform: translateX(100%);
}
.childdivimgleft{
    transform: translateX(-100%);
}
section.child{
    display: flex;
    background-color: transparent;
    box-sizing: border-box;
    padding: 48px 12px;
    width: 100%;
    min-height: 72vh;
    z-index: 2;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
section.child .childdiv{
    width: 40%;
    box-sizing: border-box;
}

section.child object{
    width: 100% !important;
    box-sizing: border-box;
    height: 420px !important;
    margin: 0 auto;
}
.h1{
    width: 269px;
    box-sizing: border-box;
}
#logo{
    cursor: pointer;
}
.title{
    position: absolute;
    user-select: none;
    font-size: 3rem;
    color: black;
    top: 12vh;
    left: 24vh;
    width: 48%;
    box-sizing: border-box;
    max-width: 369px;

    margin-block-start: 0px;
    margin-block-end: 0px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.title .minor, .title .major{
    display: block;
}
.title .major{
    padding: 12px 0px;
    text-shadow: -.69px -.69px 0 #ffab03, .69px -.69px 0 #ffab03, -.69px .69px 0 #ffab03, .69px .69px 0 #ffab03;
}
.title .minor{
    font-size: 1.3rem;
    width: 169px;
    box-sizing: border-box;
}
.childdiv p{
    font-size: 2rem;
    letter-spacing: 1.69px;
}
.childdiv img{
    display: block;
    margin: 0 auto;
}
#why p, #what p{
    font-size: 1.6rem !important;
}
#why h1, #what h1,.h1{
    font-size: 2.69rem;
}
footer{
    display: block;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 36px;
    position: fixed;
    left: -2%;
    bottom: 0px;
    width: 104%;
    box-sizing: border-box;
    z-index: 3;
    background-color: #055106;
}
footer a{
    font-size: 18px;
    box-sizing: border-box;
    padding: 6px 4px;
    letter-spacing: .69px;
    color:white;
    background-color: transparent;
}
footer a:hover{
    color: #055106;
    background-color: white;
}

footer ul.social,ul.contaddr,ul.foototh{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
footer ul.social li{
    font-size: 24px;
    letter-spacing: 1.69px;
}

footer ul.contaddr{
    position: absolute;
    right: 0px;
    top: 24px;
}
footer ul.foototh {
    position: absolute;
    right: 0px;
    text-align: right;
    bottom: 16px;
}
nav ul a{
    text-decoration: none;
    box-sizing: border-box;
    padding: 6px 5px;
    color: #000;
}
nav ul a:hover{
    background-color: #055106;
    text-decoration:wavy;
    color: white;
}
footer ul.contaddr a,footer ul.foototh a{
    text-decoration: none;
    font-size: .86rem;
    letter-spacing: 1.69px;
    width: 169px;
    box-sizing: border-box;
}
nav .mobimg{
    display: none;
}


.contactformdiv {
    width: 56%;
    height: auto;
    background-color: transparent;
    box-sizing: border-box;
    margin: 12px 36px 12px 3px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.formitemdiv p {
    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.3px;
}

.formitemdiv textarea {
    min-width: 99px;
    height: 36px;
    overflow: hidden;
    resize: none;
    padding: 8px 6px 0px 6px;
    margin-bottom: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 14px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.simplecaptchamom {
    display: flex;
    position: relative;
    width: 169px;
    height: 69px;
    box-sizing: border-box;
    background-color: white;
    color: white;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.captchaitems {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 33px;
    height: 33px;
    margin: 3px 3px;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.captchaitems:nth-child(5) {
    overflow: hidden;
    resize: none;
    padding: 3px 3px 3px 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: .69px;
    font-size: 16px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
.simplecaptchamom textarea {
    width: 33px !important;
    min-width: 33px !important;
}

.formitemdiv textarea:focus, .simplecaptchamom textarea:focus {
    background-color: #055106 !important;
    color: #fff !important;
}

#contactmessage {
    width: 100%;
    height: 269px;
    box-sizing: border-box;
}

/*Hide the scrollbar*/
.containerFAKE, .captchaitems, textarea {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.containerFAKE::-webkit-scrollbar, .captchaitems::-webkit-scrollbar, textarea::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



@media screen and (max-width: 969px) {
    section.mainmom{
        left: -2%;
        overflow-x: hidden;
    }
    .childdiv p {
        font-size: 1.3rem;
    }
    #why p, #what p {
        font-size: 1.169rem !important;
    }
    nav ul{
        display: flex;
        position: absolute;
        right: 0px;
        width: 169px;
        height: 360px;
        margin-top: 4vh;
        letter-spacing: 1.69px;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        transform: translateY(-100%);
    }
    nav .mobimg{
        cursor: pointer;
        display: block;
        position: absolute;
        top:unset !important;
        right: 69px !important;
        bottom: 32px !important;
        left: unset !important;
        z-index: 3;
    }

    section.child{
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        overflow-x: hidden;
        border-bottom:.69px #000 dotted;
    }
    section.child .childdiv{
        width: 80%;
    }
    .title{
        width: 80%;
        left: 10%;
    }
    footer ul.social, ul.contaddr, ul.foototh {
        width: 100%;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }
    footer ul.contaddr,footer ul.foototh {
        position: relative;
        right: 0px;
        margin-top: 16px;
        line-height: 18px;
        top: 0px;
    }
    section.child:last-child{
        padding-bottom: 69px;
    }
    footer{
        width: 100%;
        left: -8px;
        position: relative;
        overflow-x: hidden;
    }
    .contactformdiv {
        width: 84%;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
  }